$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

html {
  font-size: 1rem;
}

@media (min-width: $sm) {
  html {
    font-size: 0.9rem;
  }
}

@media (min-width: $md) {
  html {
    font-size: 1.1rem;
  }
}

@media (min-width: $lg) {
  html {
    font-size: 1.2rem;
  }
}

body {
  background-color: black;
  font-family: Ubuntu, sans-serif;
  color: white;
}
