.wrapper {
  text-align: center;
  @media (min-width: $xl) {
    text-align: initial;
  }
}

.intro {
  background: url('../assets/images/intro.svg') no-repeat top;
  background-position: 0 -40px;
  background-size: cover;
  min-height: 80vh;
  padding-top: 40px;
  @media (min-width: $xl) {
    margin-bottom: 8rem;
  }
  .language {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    p {
      cursor: pointer;
      text-shadow: $violet;
    }
  }
  .title {
    margin: 2% 0;
    div {
      margin-top: 20px;
      h1 {
        span {
          text-shadow: 3px 3px $violet;
        }
      }
    }
  }
  .scroll {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    i {
      margin: 20px 0;
      font-size: 2.5rem;
    }
  }
  .contactButton {
    display: flex;
    justify-content: center;
    @media (min-width: $xl) {
      display: initial;
    }
  }
}

.bio {
  text-align: left;
  .pic {
    img {
      width: 100%;
    }
  }
  .text {
    div {
      padding: 20px;
      padding-left: 40px;
      border-left: 10px solid $tree-puppy;
      h2 {
        font-size: 2.5rem;
        font-weight: bold;
      }
      h4 {
        font-style: italic;
        font-weight: lighter;
      }
    }
    p {
      padding: 20px;
      padding-left: 40px;
    }
  }
}

.skills {
  margin-top: 70px;
  padding: 30px;
  background-color: $cod-grey;
  display: flex;
  justify-items: center;
  flex-direction: column;
  text-align: center;
  h3 {
    color: white;
  }
  .badges {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    padding: 20px;
    div {
      i {
        margin: 20px 30px;
        color: $tree-puppy;
        font-size: 5rem;
      }
    }
  }
}

.cards {
  padding: 40px 0;
  text-align: center;
  .mainTitle {
    text-align: center;
    margin: 40px 0;
  }
  .card {
    background-color: $cod-grey;
    color: white;
    border-radius: 30px;
    height: 400px;
    width: 100%;
    padding: 0 20px;
    text-align: left;
    margin-bottom: 30px;
    @media (min-width: $lg) {
      height: 450px;
    }
    @media (min-width: $xl) {
      height: 500px;
    }
    .title {
      height: 120px;
      display: flex;
      align-items: center;
      padding-top: 20px;
      color: $tree-puppy;
      margin-bottom: 20px;
      i {
        margin-right: 1rem;
        font-size: 2rem;
      }
      h4 {
        font-weight: bold;
      }
    }
    p {
      text-align: justify;
      padding-left: 3rem;
      padding-right: 1rem;
    }
  }
}

.recommendations {
  color: white;
  padding: 100px 0;
  .carousel {
    display: flex;
    align-items: center;
    .carousel-inner {
      padding-top: 40px;
    }
    .blockquote {
      text-align: justify;
      height: 470px;
      @media (min-width: $sm) {
        height: 500px;
      }
    }
  }
}

.closing {
  background: url('../assets/images/outro.svg') no-repeat top;
  background-size: cover;
  min-height: 80vh;
  background-position: bottom;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10%;
  text-shadow: 1px 1px $violet;
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  .social {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    @media (min-width: $xl) {
      justify-content: start;
    }
    i {
      margin-right: 24px;
      font-size: 3rem;
    }
  }
}

button {
  background-color: $scarlet-gum;
  color: white;
  width: 240px;
  padding: 20px;
  border-radius: 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition-duration: 0.5s;
  box-shadow: 0 2px $violet;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 5px $violet;
  }
}
